body {
	/*background: pink;*/

	}

/*sets a default font for the whole page*/

	* {
font-family: sans-serif;
font-weight: lighter;
}

#topMenu {
	font-size: 20px;
	background-color: #E6E6E6;
	padding: 8px;
}

/*this was so all the shape/anchor/etc images would be in the same place, 
but it affected the play buttons too so i commented it out*/
/*img {
	position:absolute;
	top: 100px;
	left: 600px;

	}*/

#layer1 {
	   z-index: 1;
	}

#layer2 {
	z-index: 2;
	opacity: 0;
	}

#layer3 {
	z-index: 3;
	}


/*#showhide {
	position:absolute;
	top: 450px;
	left: 521px;
}*/

#checkboxes {
	/*color: white;*/
	background-color: #E6E6E6;
	padding: 6px;
}

#play{
	height: 30;
	width: 30;
}


#AnchorButton {
	background-color:#FED71E;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
	padding:7px 38px;
	text-decoration:none;
	border: none;
	position:absolute;
	top: 450px;
	left: 530px;
}
/*#AnchorButton:hover {
	background-color:#E4C21A;*/

/*#AnchorButton:active {
	position:relative;
	top:1px;
}*/

#ShapeButton {
	background-color:#00B5CB;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
	padding:7px 38px;
	text-decoration:none;
	border: none;
	position:absolute;
	top: 450px;
	left: 700px;
}
/*#ShapeButton:hover {
	background-color:#05A5B9;*/

/*#ShapeButton:active {
	position:relative;
	top:1px;
}*/